# build artifacts and executables
# /sipnet instead of just sipnet to NOT ignore test dirs
*.o
estimate
/sipnet
subsetData
transpose
.doxygen.stamp

# documentation
docs/html
docs/latex

# System-specific files
.DS_Store
.Rproj.user
.Rhistory

# Temporary and backup files
*.bak
*~
*.tmp
docs/html/
docs/api-refrence/html/
