# Allow inclusion of *.c files in tests, and ease off of free() and NULL dereference checks
# Also relax the insecure API restrictions
Checks: '-bugprone-suspicious-include,
-clang-analyzer-unix.Malloc,
-clang-analyzer-core.NullDereference,
clang-analyzer-security.insecureAPI.*'
InheritParentConfig: true
