// Unit test template file
//
// Copy and modify as needed (and remove these comments!)

#include <stdio.h>
#include <stdlib.h>

#include "modelStructures.h"  // NOLINT
// make sure to #include modelStructures.h before bringing in sipnet code to be tested
// sipnet directory #includes here

int init() {
  // Initialization steps for the test; eg copying files, allocating mem, etc

  // Return a status code, 0 = success
}

int run() {
  // Run the tests, of course

  // Return a status code, 0 = success
}

void cleanup() {
  // Perform any cleanup as needed
}

int main() {
  int status;
  status = init();
  if (status) {
    printf("FAILED <testname> initialization with status %d\b", status);
  }

  status = run();
  if (status) {
    printf("FAILED <testname> with status %d\n", status);
    exit(status);
  }

  printf("PASSED <testname>\n");

  cleanup();
}
