Final config for SIPNET run at 2026-01-07 00:18:36 UTC
                 Name        Source           Value
            CLIM_FILE    CALCULATED     sipnet.clim
       DO_MAIN_OUTPUT       DEFAULT               1
     DO_SINGLE_OUTPUT       DEFAULT               0
          DUMP_CONFIG    INPUT_FILE               1
               EVENTS    INPUT_FILE               0
            FILE_NAME       DEFAULT          sipnet
                  GDD    INPUT_FILE               0
          GROWTH_RESP       DEFAULT               0
           INPUT_FILE  COMMAND_LINE       sipnet.in
           LEAF_WATER       DEFAULT               0
          LITTER_POOL       DEFAULT               0

       NITROGEN_CYCLE       DEFAULT               0
      OUT_CONFIG_FILE    CALCULATED   sipnet.config
             OUT_FILE    CALCULATED      sipnet.out
           PARAM_FILE    CALCULATED    sipnet.param
         PRINT_HEADER       DEFAULT               1
                QUIET       DEFAULT               0
                 SNOW    INPUT_FILE               0
          SOIL_PHENOL    INPUT_FILE               1
          WATER_HRESP       DEFAULT               1
