Final config for SIPNET run at 2026-04-09 17:54:07 UTC
                 Name        Source           Value
            ANAEROBIC    INPUT_FILE               1
            CLIM_FILE    CALCULATED     sipnet.clim
       DO_MAIN_OUTPUT    INPUT_FILE               1
     DO_SINGLE_OUTPUT    INPUT_FILE               0
          DUMP_CONFIG    INPUT_FILE               1
               EVENTS    INPUT_FILE               1
        EVENTS_PREFIX       DEFAULT          events
            FILE_NAME    INPUT_FILE          sipnet
             FLOODING       DEFAULT               0
                  GDD       DEFAULT               1
          GROWTH_RESP       DEFAULT               0
           INPUT_FILE  COMMAND_LINE       sipnet.in
           LEAF_WATER       DEFAULT               0
          LITTER_POOL    INPUT_FILE               1
       NITROGEN_CYCLE    INPUT_FILE               1
      OUT_CONFIG_FILE    CALCULATED   sipnet.config
             OUT_FILE    CALCULATED      sipnet.out
           PARAM_FILE    CALCULATED    sipnet.param
         PRINT_HEADER    INPUT_FILE               1
                QUIET    INPUT_FILE               0
           RESTART_IN       DEFAULT                
          RESTART_OUT       DEFAULT                
                 SNOW       DEFAULT               1
          SOIL_PHENOL       DEFAULT               0
          WATER_HRESP       DEFAULT               1
