Final config for SIPNET run at 2026-01-24 08:31:30 UTC
                 Name        Source           Value
            CLIM_FILE    CALCULATED     sipnet.clim
       DO_MAIN_OUTPUT       DEFAULT               1
     DO_SINGLE_OUTPUT       DEFAULT               0
          DUMP_CONFIG    INPUT_FILE               1
               EVENTS       DEFAULT               1
            FILE_NAME       DEFAULT          sipnet
                  GDD       DEFAULT               1
          GROWTH_RESP       DEFAULT               0
           INPUT_FILE  COMMAND_LINE       sipnet.in
           LEAF_WATER       DEFAULT               0
          LITTER_POOL       DEFAULT               0
       NITROGEN_CYCLE       DEFAULT               0
      OUT_CONFIG_FILE    CALCULATED   sipnet.config
             OUT_FILE    CALCULATED      sipnet.out
           PARAM_FILE    CALCULATED    sipnet.param
         PRINT_HEADER       DEFAULT               1
                QUIET       DEFAULT               0
                 SNOW       DEFAULT               1
          SOIL_PHENOL       DEFAULT               0
          WATER_HRESP       DEFAULT               1
