Final config for SIPNET run at 2025-07-16 15:46:25 UTC
                 Name        Source           Value
            CLIM_FILE    CALCULATED     sipnet.clim
       DO_MAIN_OUTPUT       DEFAULT               1
     DO_SINGLE_OUTPUT       DEFAULT               0
          DUMP_CONFIG    INPUT_FILE               1
               EVENTS       DEFAULT               1
            FILE_NAME       DEFAULT          sipnet
                  GDD       DEFAULT               1
          GROWTH_RESP    INPUT_FILE               1
           INPUT_FILE  COMMAND_LINE       sipnet.in
           LEAF_WATER    INPUT_FILE               1
          LITTER_POOL    INPUT_FILE               1
             MICROBES       DEFAULT               0
NUM_SOIL_CARBON_POOLS       DEFAULT               1
      OUT_CONFIG_FILE    CALCULATED   sipnet.config
             OUT_FILE    CALCULATED      sipnet.out
           PARAM_FILE    CALCULATED    sipnet.param
         PRINT_HEADER       DEFAULT               1
                QUIET       DEFAULT               0
                 SNOW       DEFAULT               1
      SOIL_MULTI_POOL    CALCULATED               0
          SOIL_PHENOL       DEFAULT               0
          WATER_HRESP    INPUT_FILE               0
